/*DARK THEME*/
:root {
    --background-color: rgb(16, 18, 21);
    --text-color: #f6f6f6;
    --list-background: rgba(240, 46, 170, 0.6);
    --type-background: rgba(0, 0, 0, 0.5);
    --div-background: #323232;
    --accent: rgba(240, 46, 170, 0.8);
    --accent-hover: rgb(239, 86, 183);
  }

  * {
    color: var(--text-color);
  }

  body {
    background-color: var(--background-color);
  }

  header ul li {
    background-image:
    linear-gradient(var(--list-background) 0 0),
    linear-gradient(var(--list-background) 0 0);
    outline: .3rem solid var(--accent);
  }

  .typewriter {
    background-color: var(--type-background);
    border: 1px solid var(--accent);
  }

  .about-text {
    outline: 1px solid white;
    background-color: var(--div-background);
  }

  .project, .tech-stack {
    border: 1px solid var(--accent)
}

  .slider-container::before, .slider-container::after {
    background: linear-gradient(to right, var(--background-color) 0%, rgba(255, 255, 255, 0) 100%);
  }

.call-to-action, .submit-button {
    background-color: var(--accent);
}

.call-to-action:hover, .submit-button:hover {
    background-color: var(--accent-hover);
}

input {
  border-bottom: 1px solid var(--accent);
}

input::placeholder {
  color: var(--text-color);
}