/*SETUP*/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box; font-size: 62.5%;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/*HEADER*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Gaspare_Tortora_minimalistic_high_resolution_web_developer_imag_56225a52-2a70-4fc0-8ffe-b7027d403eb8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color:white;
    position: relative;
    border-bottom: 1px solid white;
}

header ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-top: 0;
    gap: 1rem;
}

header ul li a {
    color: white;
    transition: .4s;
    width: 100%;
    display: flex;
    justify-content: center;
}

header ul li {
    list-style: none;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50% .5em;
    background-position:
        -100% 100%,
        200% 0;
    transition: background-size .3s, background-position .3s .3s, transform .8s ease-out;
    padding-left: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10rem 0 0 10rem;
    outline: 0.4rem solid;
}

header ul li:hover {
    background-size: 50% 100%;
    background-position:
      0 100%,
      100% 0;  
    transition: background-size .3s .3s, background-position .3s, transform .6s;
    transform: translate(-80%);
}

header ul li i {
    position: absolute;
    left: 3rem;
    font-size: 3rem;
}

header ul li:hover > a, header ul li:hover > i {
    color: rgb(255, 255, 255);
    background-color: none;
}

.header-menu {
  position: fixed;
  font-size: 2rem;
  top: 25vh;
  right: 0;
  width: 400px;
  height: 400px;
  z-index: 1;
  font-family: 'Monoton', cursive;
  animation-name: translate;
  animation-duration: 1s;
  /* background-color: rgba(0, 0, 0, 0.8); */
  transform: translate(80%);
}

@keyframes translate {
    0% {
        transform: translate(100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(80%, 0);
        opacity: 1;
    }
}

.my-image {
    transition: 1s ease;
    transform: translateX(100%);
    opacity: 0;
    width: 50%;
}

.my-image img {
    height: 45rem;
}

.my-image.appear {
    transform: translateX(0);
    opacity: 1;
}
  
.typewriter {
    width: 50%;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 1.5rem;
    position: relative;
    top: 20vh;
    left: 10vh;
    padding: 6rem;
    height: 300px;
    font-family: 'Megrim', cursive;
    font-size: 2.5rem;
}
  
h1::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 0.8em;
    margin-left: 0.2em;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: rgb(238, 255, 0);
    }
}

.call-to-action {
    border-radius: 5rem;
    padding: 1rem 4rem;
    position: absolute;
    bottom: -30px;
    right: 140px;
    animation: hover 3s ease;
    border: none;
    transition: .3s ease;
}

/* @keyframes hover {
    0% {
        background-position: 0% 100%;
        background-size: 0% 100%;
    }
    100% {
        background-position: 100% 100%;
        background-size: 100% 100%;
    }
} */


  /*GENERAL STYLING*/

ul, li, a, .call-to-action, .submit-button {
    cursor: url("../assets/icons8-hand-cursor-40.png"), pointer;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

body, button {
    font-family: 'GFS Neohellenic', sans-serif;
}

body, html {
    scroll-behavior: smooth;
}

body, label {
    cursor: url("../assets/icons8-select-cursor-48.png"), auto;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Monoton', cursive;
}

p, label {
    font-size: 2rem;
}

.wrapper {
    max-width: 1200px;
    margin: 10rem auto;
}

/*ABOUT*/

.about-text {
    opacity: 0;
    transition: .8s;
    display: flex;
    justify-content: center;
    padding: 3rem;
    border-radius: 1.5rem;
    height: fit-content;

    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.about-text.about-appear {
    opacity: 1;
}

.about-section {
    display: flex;
    align-items: center;
}

.tech-stack-slider {
    display: flex;
    gap: 4rem;
    margin-top: 6rem;
    animation: scroll 40s linear infinite;
    padding: 2rem;
}

.slider-container {
    overflow: hidden;
    position: relative;
    display: flex;
}

.slider-container:hover, .tech-stack-slider:hover, .tech-stack-slider img:hover {
    animation-play-state: paused;
}

.slider-container::before, .slider-container::after {
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider-container::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
    z-index: 0;
}

.slider-container::before {
    left: 0;
    top: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-60%);
    }
}

.tech-icon {
    width: 80px;
    transition: .3s;
    filter: grayscale(100%);
}

.tech-icon:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
}

/*PROJECTS*/

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.project, .tech-stack {
    height: 100px;
}

.project-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.tech-stack-1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.project-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.tech-stack-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.project-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.tech-stack-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

/*SOCIAL*/

.social-container {
    display: flex;
    height: 200px;
    min-width: fit-content;
    justify-content: space-around;
    margin: 20rem 0;
    perspective: 3000px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    gap: 2rem;
}

.social-button {
    font-size: 2rem;
    height: 30px;
    width: 250px;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateX(-40deg) rotateY(40deg);
    transition: all .5s ease-in, transform .5s;
}

.social-button:hover .side:nth-child(2) {
    box-shadow: none;
}


.facebook:hover {
    transform: rotateX(-80deg) rotateY(3deg) rotateZ(20deg) translateZ(-15px) translateY(-41px) translateX(-7px) scale3d(1.2, 1.2, 1.2);
}

.facebook:hover .side {
    background-color: #3b5998;
}

.instagram:hover {
    transform: rotateX(-80deg) rotateY(3deg) rotateZ(20deg) translateZ(-15px) translateY(-41px) translateX(-7px) scale3d(1.2, 1.2, 1.2);
}

.instagram:hover .side {
    background-color: #c32aa3;
}

.github:hover {
    transform: rotateX(-80deg) rotateY(3deg) rotateZ(20deg) translateZ(-15px) translateY(-41px) translateX(-7px) scale3d(1.2, 1.2, 1.2);
}

.github:hover .side {
    background-color: #000000;
}

.linkedin:hover {
    transform: rotateX(-80deg) rotateY(3deg) rotateZ(20deg) translateZ(-15px) translateY(-41px) translateX(-7px) scale3d(1.2, 1.2, 1.2);
}

.linkedin:hover .side {
    background-color: #0a66c2
}
  
  .side {
    position: absolute;
    border: 1px solid #ddd;
    opacity: .5;
    transition: .5s;
    font-size: 2rem;
    text-decoration: none;
}

    .side i {
        font-size: 4rem;
    }

    .side:nth-child(1) {
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 250px;
        font-weight: 900;
        transform: rotateX(90deg) translateZ(40px);
        color: #fff;
}

    .side:nth-child(1) i {
    margin-right: 40px;
}
    .side:nth-child(2) {
      opacity: .4;
      height: 80px;
      width: 250px;
      transform: rotateX(-90deg) translateZ(-10px);
      box-shadow: -5px -5px 30px -5px;
    }
    .side:nth-child(3) {
      height: 30px;
      width: 80px;
      transform: rotateY(-90deg) translateZ(40px);
    }
    .side:nth-child(4) {
      height: 30px;
      width: 80px;
      transform: rotateY(90deg) translateZ(40px);
      right: 0;
    }
    .side:nth-child(5) {
      height: 30px;
      width: 250px;
      transform: rotateX(0deg) translateZ(40px);
    }
    .side:nth-child(6) {
      height: 30px;
      width: 250px;
      transform: rotateX(180deg) translateZ(40px);
    }

    /*CONTACT*/

    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10rem auto auto auto;
        position: relative;
    }

    .contact-info {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .contact-message {
        display: flex;
        width: 100%;
    }

    input[id="name"], input[id="email"] {
        height: 4.5rem;
        width: 100%;
    }

    input[id="email"] {
        margin-left: 6rem;
    }

    input[id="message"]{
        height: 400px;
        width: 100%;
    }

    input {
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 2rem;
    }

    .submit-button {
        font-size: 2rem;
        border: none;
        margin-top: 5rem;
        align-self: center;
        border-radius: 5rem;
        padding: 1rem 4rem;
        border: none;
        transition: .3s ease;
    }

    .contact {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/Gaspare_Tortora_A_close-up_shot_of_a_hand_typing_on_a_black_key_e23c8544-3bce-43cb-95f4-cf77407ad897.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        padding: 10rem;
        height: fit-content;
        outline: 1px solid white;
    }